/* login.css */

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FEFAF6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #EADBC8;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
    color: #102C57;
}

label {
    display: block;
    margin-top: 20px;
    font-weight: bold;
    color: #555;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border: 1px solid #EADBC8;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 1em;
}

button {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 25px;
    font-size: 1.1em;
    background-color: #102C57;
    color: #EADBC8;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

button:hover {
    background-color: #102C57;
}

p#error {
    color: red;
    font-size: 0.9em;
    margin-top: 10px;
}
